<div class="container">
    <div class="main">
        <div class="topbar">
           
        </div>
        <div class="row">
           
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <a href="#aboutModal" data-toggle="modal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
                         
                        <img src="https://unsplash.com/photos/_8qzW8tQbNk" class="rounded-circle" width="150" alt="">
                            <div class="mt-3">
                             <h3>Nuwan salitha Dissanayaka</h3>
                             <button type="button" class="btn btn-outline-primary">Edit profile</button>                              
                             </div> 
                        </div>
                     </div>
                 </div>
            
                 
 
  
  <div class="col-md-8 mt-1 ">
      <div class="card mb-3 content">
        <h2 class="m-3 pt-3">User Profile Details   <i class="far fa-edit" ></i></h2>
        
       
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="hclass">full Name</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    Dissanayaka Mudiyaselage Nuwan salitha
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>NIC:</h5> 
                </div>
                <div class="col-md-9 text-secondary">
                    856548150v
                </div>
            </div> 
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>Gender:</h5> 
                </div>
                <div class="col-md-9 text-secondary">
                    Male
                 </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>Occupation:</h5> 
                </div>
                <div class="col-md-9 text-secondary">
                    Teacher
                </div>
            </div> 
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>District:</h5> 
                </div>
                <div class="col-md-9 text-secondary">
                    Kurunegala
                 </div>
            </div>
           
        </div>
        
      </div>
  </div>

</div>
</div>
</div>

	