<div class="home container">
  <div class="view-header">
      <div class="header-wrapper">
          <div><p class="text-1" >Election - 2020</p></div>
          <div><p class="text-2">Sri Lanka</p></div>
      </div>
  </div>

  <div class="card-container">

      <div class="card-wrapper" *ngFor="let candidate of candidateList" >

          <div class="card-sub-container-4" style="background-color: #37474f;"></div>

          <div class="card-sub-container-2">
              <div><img class="image-1" [src]=candidate.candidateImage  alt="kusal_mendis_photo"/></div>
          </div>

          <div class="card-sub-container-6">
              <p class="text-4">{{candidate.name}}</p>
          </div>

          <div class="card-sub-container-5">
              <div class="card-sub-container-3">
                  <div>Sign</div>
                  <div>
                      <div><img class="image-2" [src]=candidate.logo alt="kusal_mendis_logo" /></div>
                  </div>
              </div>

              <div>
                  <div class="card-sub-container-1">
                      <div> <span class="text-3">Party</span></div>
                      <div>{{candidate.partyName}}</div>
                  </div>
              </div>
          </div>

          <div class="card-sub-container-7" style="background-color: #37474f;" >
              <button class="btn-1" 
                  [disabled]="voter.isVoted"
                  [class.is-disbled]="isVoted(candidate.id)"
                  (click)="vote(candidate.id)">Vote</button>
          </div>

      </div>
  </div>

</div>

<!-- <div>
  <div>Thank you for the vote</div>
</div> -->
