<div class="col-md-4 mt-4">
    <div class="card profile-card-5">
        <div class="card-img-block">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" alt="Card image cap">
        </div>
        <div class="card-body pt-0">
        <h2 class="card-title">Florence Garza</h2>
        <p class="card-text">union repabmic party UNP</p>
   
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Number 1</label>
          </div>
        
        </div>

    </div>
    <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
</div>


