.profile-card-5{
    margin-top:30px;
}
.profile-card-5 .btn{
    border-radius:5px;
    border-width: 15px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h2{
    color:#160d69;
    font-weight:600;
}
.profile-card-5 p{
    font-size:30px;
    font-weight:300;
    padding: 20px;
}
.profile-card-5 .btn-primary{
    background-color:#535d88;
    border-color:#df160f;
}
.profile-card-5 .label{
    font-size: 30px;
}